@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --dark: oklch(14.7% 0.004 49.25);
  --light: oklch(98.5% 0.001 106.423);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM sans", sans-serif;
}
